tmp/*
log/*
public/uploads/*
public/assets/*
vendor/rails
nbproject
.svn
db/schema.rb
.DS_Store
db/*.sqlite3
*.swp
*.swo
public/images/tmp/*
public/system/*
.sass-cache
script/refactor
vendor/plugins/script-refactor
.powrc
